version: "3.8"

services:
  web:
    build: .
    container_name: lesson7-app-web
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:14
    container_name: lesson7-app-db
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
